<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/2_vetka_small.png">
  </head>
  <body style="background-color: #738664" >
    <div id="q-app" style="height: 100%; width: 100%;">
    </div>
  </body>
</html>
<style>
body, html {
    width: 100%;
    height: 100%;
}
</style>
